[submodule "modules/dotly"]
	path = modules/dotly
	url = https://github.com/CodelyTV/dotly.git
	branch = master

[submodule "modules/eriner"]
        path = shell/zsh/themes/eriner
        url = https://github.com/zimfw/eriner.git
        branch = master
